.page {
	position: relative;
	padding: 10px 20px;
	box-sizing: border-box;
	overflow: hidden;
}
.loading {
	position: relative;
	margin-top: 65px;
}
.text {
	margin-top: 40px;
	font-size: 20px;
	text-align: center;
}