.container {
	position: relative;
	padding: 0 20px;
	z-index: 0;
	text-align: center;
}
.list {
	position: relative;
	margin: 0;
	padding: 30px 30px 0 30px;
	list-style: none;
	overflow: hidden;
	text-align: left;
}
.item {
	margin: 10px 0 15px;
	border-bottom: 1px solid #CCCCCC;
	&:last-child {
		margin-bottom: 0;
	}
}
.info {
	font-size: 0;
}
.name {
	font-weight: 600;
	font-size: 16px;
	color: #3b4295;
}
.text {
	font-size: 12px;
  margin-left: 5px;
  color: #99aab5;
}
.message {
	font-size: 15px;
	line-height: 22px;
	margin-bottom: 5px;
	color: #737f8d;
}